@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
header{
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #110f0f;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: #6fdefd;
        font-size: 1.15rem;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #6fdefd;
    font-weight: 400;
}

.login-button button{
    border: none;
    background-color: #6fdefd;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    text-align: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
}


.lista{
    color: rgb(174, 0, 255);
    font-size: 15px;
    width: 40;
    margin: 30 0 0 10 auto;
    padding: 40 ;
    float: center;
    columns: 5;
}

.button-insta{
    text-align: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
}

.button-insta button a{
    margin: 1% 25%;
    height: 3%;
    float: center;
}
.mensagem{
   margin: 1% 25%;
   height: 3%;
   float: center;
   padding: 0.5%;
}

.texto1{
    margin: 1% 26%;
   height: 3%;
   float: center;
   margin-bottom: 0;
}

.texto2{
    margin: 1% 18%;
    margin-top: 0;
   padding: 8%;
}
