h2{
    font-size: 2.8rem;
    color:black;
    font-weight: bold;
}

.font-como-ajudar{
    color:black;
    font-weight: bold;
}

.button-size{
    font-size: larger;
}

section {
    height: 89vh;
    padding-left: 11rem; padding-right: 11rem;
}


