.heigh-nav{
    height: 11vh;
}

.ft-size{
    margin-top: 0vh;
}

.height-main {
    height: 89vh;
}
#text{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.section-card{
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.sect{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    text-align: center;
    font-size: x-large;
}

.desp-help{
    margin-top: 5vh;
}

@media (max-width: 600px) {

    .height-main {
        height: 91vh;
    }

    .revert {
        flex-direction: row-reverse;
    }

    .size-text {
        height: 11vh;
        font-size: 3rem;
        text-align: center;
      
    }

    #text{
        height: 7rem;
        width: 23rem;
        margin-top: 2rem;
       
    }

    .heigh-nav{
        height: 9vh;
    }
    .section-card{
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        margin-bottom: auto;
    }

    .ft-size{
        margin-top: 100vh;
    }

}