/* Style for all HTML files */
header{
    margin: 0;
    padding-left: 0;
    font-family: sans-serif;
    color: aquamarine;
}

.bg-nav{
    background-color: rgba(0,0,0,0.1);
}

.nav-text-size {
    font-size: medium;
}