/* Style for all HTML files */
header{
    margin: 0;
    padding-left: 0;
    font-family: sans-serif;
    color: aquamarine;
}

.marg-nav{
    margin-right: 7%;
}

.bg-nav{
    background-color: rgba(0,0,0,0.1);
}