/* Style for all HTML files */
.nav-text-size {
    font-size: medium;
}

.navbar {
    height: 11vh;
}

.logo {
    height: 9vh;
}

.bg-primary {
    background-color: #76CEF2 !important;
}

.bg-secondary {
    background-color: #E0ADCE !important;
}

.bg-third {
    background-color: #F0FF88 !important;
}

.text-primary {
    color: #76CEF2 !important;
}

.text-secondary {
    color: #E0ADCE !important;
}

.text-third {
    color: #F0FF88 !important;
}

.btn-primary {
    background-color: #76CEF2 !important;

}

.btn-secondary {
    background-color: #E0ADCE !important;
}

.btn-third {
    background-color: #F0FF88 !important;

}

.btn {
    text-transform: capitalize;
}

.insta-size {
    font-size: 30px;
}

.bg-img {
    background-size: cover;
    background-position: center center;
}

.bt-size {
    padding-left: 15px;
    margin-top: auto;
    margin-bottom: auto;

}

.bt-format {
    border-radius: 50px;
}

#nav-size {
    height: 5vh;
}

@media (max-width: 600px) {
    .navbar {
        height: 9vh;
    }

    .logo {
        height: 7vh;
    }

    .bt-size {
        padding-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;

    }

    .nav-text-size {
        font-size: x-large;
    }

    #nav-size {
        height: 91vh;
    }

    .bt-format {
        border-radius: 50px;
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
    }

}