/* Style for index.html */
.navbar.custom {
    margin: 0 auto;
    height: 50px;
}

.continous-flow {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

body {
    height: 100vh;
    overflow: hidden;
}

.margin-page {
    margin-left: 165px;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 16px;
    color: black;
}

/* TODO colocar fundo com imagens de cachorros e cinza transparente */
.bg-section-4 {
    opacity: 100%;
    background-color: rgb(182, 182, 182);
}

.lab-size {
    font-size: 13px;
    color: black;
}

.textarea {
    resize: none;
}

.font-final {
    font-size: 60px;

}