/* Style for index.html */
.navbar.custom {
    margin: 0 auto;
    height: 50px;
}

.continous-flow {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

body {
    height: 100vh;
    overflow: hidden;
}

.margin-page {
    margin-left: 165px;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 16px;
    color: black;
}

/* TODO colocar fundo com imagens de cachorros e cinza transparente */
.bg-section-4 {
    background-color: rgb(96, 96, 96);
}

.lab-size {
    font-size: 13px;
    color: black;
}

.textarea {
    resize: none;
}

.font-final {
    font-size: 60px;
}

h1 {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.slide-animal {
    background-position: center center;
    background-size: cover;
    width: 13rem;
    height: 18rem;
}

.bounce-animation {
    animation: bounce 1.8s infinite;
}

.transition-title {
    transition: opacity 0.5s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-25px);
    }
}

.fade-bottom {
    position: relative;
    overflow: hidden;
}

.fade-bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}